            body .bPageBlock, body #bodyCell .bResource .secondaryPalette, 
            body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, 
            body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, 
            body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, 
            body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, 
            body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock {
            border: 0px solid  #ffffff !important;
            border-color: #ffffff !important;
            }
            
            div.pbBody{
            max-width: 98%;
            overflow-x: hidden; 
            margin-left: 1%;
            }
            
            .slds-input{
            color: #16325c;
            border: 1px solid #bdbbb1;
            border-radius: .25rem;
            text-align:left;
            transition: border .1s linear,background-color .1s linear;
            display: inline-block;
            padding: 0 1rem 0 .75rem;
            padding-right: 1.8rem;
            width: 80px;
            line-height: 1.875rem;
            min-height: calc(1.875rem + (1px * 2));
            }
            
            p{
            width:100%;
            text-align:justify;
            }
            
            b{
            width:100%;
            text-align:center;
            }
